<template>
  <section>
    <section>
      <h2>Leo Carbajal</h2>      
      <p>Full-Stack Engineer @ Northwestern Mutual</p>
      <p>Twitter: <a target="blank" href="https://www.twitter.com/vassilc">@VassiLC</a></p>
      <p><a target="blank" href="https://www.linkedin.com/in/leocarbajal/">linkedin.com/in/leocarbajal/</a></p>      
    </section>
  </section>
</template>
