<template>
  <section>
    <section>    
      <div class="box">
        <div class="col">
          <img src="/mobx.png" style="width: 60%;"/>
        </div>
      </div>
      <h3>Observables, Actions, Reactions</h3>
      <div class="box">
        <div class="col">
          <ul>
            <li>@observable</li>
            <li>@computed</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>@action</li>
            <li>flow</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>when</li>
            <li>autorun</li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h2>mobx-react</h2>
      <div class="fragment fade-in-then-semi-out  left-please">
        <p>Provider / Inject</p>
        <ul>          
          <li>Deprecated for new apps. React 16.3+</li>          
          <li>Suitable for legacy or partial migrations.</li>          
        </ul>
      </div>
      <div class="fragment fade-in-then-semi-out  left-please">
        <p>React Context</p>
        <ul>
          <li>Provider was re-written to use React Context.</li>          
          <li>Hook APIs still require you to make a Context.</li>          
        </ul>
      </div>
    </section>
    <section>
      <h2>Demo</h2>    
      <blockquote> 
        The philosophy behind MobX is very simple:
        Anything that can be derived from the application state, should be derived. Automatically.
      </blockquote>  
    </section>
  </section>
</template>
