<template>
  <section>
    <section>
      <h2>State Management</h2>
      <div class="box">
        <div class="col">
          <img src="/single-source-of-truth_edited.jpg" style="width: 40%;"/>
        </div>
      </div>
    </section>
    <section>
      <div class="box">
        <div class="col">
          <img src="/render-props.jpg" style="width: 60%;"/>
        </div>
      </div>
    </section>
    <section>
      <h5 class="smaller">Prop Drilling / Render Props</h5>
      <div class="box">
        <div class="col">
          <img src="/prop-drilling.png" style="width: 60%;" />
        </div>
      </div>
    </section>
    <section>
      <h5 class="smaller">Redux Promise</h5>
      <div class="box">
        <div class="col">
          <img src="/redux-in-theory.png" style="width: 60%;" />
        </div>
      </div>
    </section>
    <section>
      <h5 class="smaller">'Practical Redux'</h5>
      <div class="box">
        <div class="col">
          <div>
            <img src="/redux-prime.png" style="width: 60%;"/>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
