<template>
  <section>
    <h1>Thank You!</h1>
    <p class="small faded">Questions?</p>
    <p class="small faded">
      Slides and Demo Available: <br />
      <a href="https://gitlab.com/desleo/mobx-101">gitlab.com/desleo/mobx-101</a>
    </p>
  </section>
</template>
