html {
  background-color: #e6e6e6;
}

.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

nav {
  ul {    
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    & > li {
      flex: 1;
    }
  }
}

.initiative-container {  
  display: flex;
  justify-content: center;
  padding: 5rem 0;

  .actions {
    display: inline-block;
    width: 20rem;
  }

  .list {
    display: inline-block;
    & > button {
      width: 100%;
      padding: 1rem;
    }
  }

  button {
    margin: 0;
    padding: .25rem 1rem;
    background-color: #fafafa;
    border: 1px solid #222;
  }
}

.player-container {
  display: flex;
  width: 20rem;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;

  & > p {
    padding: 1rem;
    margin: 0;

    &:first-child {
      background-color: #333;
      color: white;
      width: 6rem;
    }

    &:last-child {
      flex: 1;
    }
  }
}

.new-player-container {
  margin-top: 2rem;
  border-top: 1px solid #EDEDED;

  form {
    text-align: left;
    button {
      width: 78%;
      margin: .5rem 10%;
    }
  }

  .box {
    display: flex;
    
    label {      
      input {
        width: 8ch
      }
    }
  }

  label {
    flex: 1;
    display: block;

    & > span {
      display: inline-block;
      width: 5ch;
      text-align: left;
      padding: .2rem .5rem;
    }
  }
}